@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Please login for accesss</h1>
<div class="card-header">
    <a asp-page="/UserRegistration/UserLogin" class="btn btn-dark">Login</a>
</div>